{% extends 'beheer/base.html' %} {% block title %}Betaling 💶{% endblock %}
{%load crispy_forms_tags %} {% block content %}
<h2>Betaling</h2>
<form method="POST">
    <div class="mb-3">{% csrf_token %} {{ form|crispy }}</div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Opslaan 💶</button>
    </div>
</form>
<h3>Laatste 5 betalingen</h3>
<table class='table table-striped'>
    <thead>
    <tr>
      <th scope="col">Naam</th>
      <th scope="col">Hoeveelheid</th>
      <th scope="col">Tijdstip</th>
    </tr>
  </thead>
  <tbody>
{% for betaling in betalingen %}
    <tr>
        <th scope="row">{{ betaling.leider }} </td>
        <td> € {{ betaling.hoeveelheid }} </td>
        <td>{{ betaling.datum }} </td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% endblock content %}
