{% extends 'beheer/base.html' %}
{% load static %}
{% block content %}
<script
  src="{% static '/js/copy.js' %}"
></script>
<body>
<h3 id="rekening">BE10 9733 6252 4804<button type="button" class="btn btn-primary" onclick="copy()">kopiëren</button></h3>
<table class='table table-striped'>
    <thead>
    <tr>
      <th scope="col">Naam</th>
      <th scope="col">Schulden</th>
    </tr>
  </thead>
  <tbody>
{% for leider in content %}
    <tr {% if leider.schulden > 50 %} class="table-danger" {% endif %}>
        <th scope="row"><a href="{% url 'leiderView' leider.leider__id %}"> {{ leider.leider__naam }} </td>
        <td> € {{ leider.schulden }} </td>
    </tr>
{% endfor %}
  </tbody>
</table>
</body>
{% endblock content%}