{% extends 'beheer/base.html' %} 
{% block title %} Leiders 👨‍🌾 {% endblock title %} {% block content %} {% load crispy_forms_tags %}
<script
    src="https://cdn.jsdelivr.net/npm/html5sortable@0.10.0/dist/html5sortable.min.js"
    integrity="sha256-2kOsIp+HlL6PTr598TKXWLwgxJ3hb5dt5uKLLBVOhTo="
    crossorigin="anonymous"
></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js"></script>
<h2>Nieuwe leider:</h2>
<form method="POST">
    {% csrf_token %}
    <div class="mb-3">{{ newForm|crispy }}</div>
    <div class="mb-3">
        <button type="submit" class="btn btn-success">Toevoegen 😄</button>
    </div>
</form>
<h2>Volgorde aanpassen:</h2>
<p>sleep de namen in de juiste volgorde en druk dan op update</p>
<ul class="js-sortable sortable list-group mb-3" aria-dropeffect="move">
    {% for leider in leiders %}
    <li
        class="list-group-item d-flex justify-content-between align-items-center"
        style="position: relative; z-index: 10"
        draggable="true"
        role="option"
        aria-grabbed="false"
        id="{{leider.pk}}"
    >
        {{ leider }}
        <a href="{% url 'deleteLeider' leider.pk %}"
            ><button class="btn btn-danger btn-sm">Verwijderen</button></a
        >
    </li>
    {% endfor %}
</ul>
<button class="btn btn-primary js-serialize-button">Update 👨‍🌾</button>
<script type="text/javascript">
    sortable('.js-sortable', {
        forcePlaceholderSize: true,
        placeholderClass: 'mb1 bg-navy border border-yellow',
        hoverClass: 'bg-maroon yellow',
        itemSerializer: function (item, container) {
            item.parent = '[parentNode]';
            item.node = '[Node]';
            var d = new DOMParser().parseFromString(item.html, 'text/xml');
            item.id = parseInt(d.firstChild.attributes['id'].value);
            console.log(item.id);
            return item;
        },
        containerSerializer: function (container) {
            container.node = '[Node]';
            return container;
        }
    });
    document
        .querySelector('.js-serialize-button')
        .addEventListener('click', function () {
            let serialized = sortable('.js-sortable', 'serialize');
            var result = [];
            for (i = 0; i < serialized[0].container.itemCount; ++i) {
                result.push(serialized[0].items[i].id);
            }
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    console.log('updated');
                    location.reload();
                }
            };
            const csrftoken = Cookies.get('csrftoken');
            xhttp.open('POST', "{% url 'leidersUpdate' %}");
            xhttp.setRequestHeader('X-CSRFToken', csrftoken);
            xhttp.send(JSON.stringify(result));
        });
</script>
{% endblock content%}
